*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/prod/release/iMovie-v1.0-release.apk
/app/release/iMovie-v1.0-release.apk
/app/prod/release/output-metadata.json
/app/release/output-metadata.json
